{% extends "forecast/edit/forecast_base.html" %}
{% load payroll_permissions %}
{% load util vite %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "choose_cost_centre" %}
    {% breadcrumb "Edit cost centre forecast" "edit_forecast" %}
{% endblock %}

{% block title %}Edit Forecast{% endblock %}

{% block page_content %}
    <div class="govuk-grid-row date-selection-download">

    </div>

    <div class="action-bar-wrapper">
        <div id="action-bar"  class="action-bar">
            <a id="add_forecast_row" href="{% url 'add_forecast_row' view.cost_centre_details.cost_centre_code view.financial_year %}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
              Add a new row
            </a>
            <a id="download_forecast" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="{% url 'export_edit_forecast_data_cost_centre' view.cost_centre_details.cost_centre_code  view.financial_year %}">
                Download
            </a>
        </div>
    </div>

    {% if view.future_year_display %}
            <div class="govuk-tag">
                <strong>Future Forecast for {{ view.future_year_display }}</strong>
            </div>
    {% endif %}


    <div id="forecast-app"></div>
    <form id="id_paste_data_form" action="{% url 'paste_forecast' view.cost_centre_details.cost_centre_code  view.financial_year%}" method="post" novalidate="novalidate">
        {% csrf_token %}
        {{ paste_form }}
    </form>
    {% endblock %}
    {% block scripts %}
    {{ view.get_payroll_forecast_report|json_script:'payroll_forecast_data' }}
    {% can_access_edit_payroll user as user_can_access_edit_payroll %}
    <script>
        window.actuals = {{ actuals|safe }};
        window.period_display = {{ period_display|safe }};
        window.table_data = {{ forecast_dump|safe }};
        window.cost_centre = {{ view.cost_centre_details.cost_centre_code|safe }};
        window.financial_year = {{ view.financial_year|safe }};
        window.payroll_forecast_data = JSON.parse(document.getElementById("payroll_forecast_data").textContent);
        window.can_access_edit_payroll = "{{ user_can_access_edit_payroll }}";
        window.PAYROLL_ENABLE_FORECAST = {% if settings.PAYROLL.ENABLE_FORECAST %}true{% else %}false{% endif %};
    </script>
    {% vite_dev_client %}
    {% vite_js 'src/index.jsx' %}
{% endblock %}