{% extends 'admin/change_list.html' %}
{% load download_permissions %}

{% block object-tools-items %}
    {% has_download_users_permission user as has_download_users_permission %}
    {% if has_download_users_permission == True %}
        <li>
            <a href="export-users/" class="btn btn-high btn-success">Export user/roles list</a>
            <a href="export-cc-user/" class="btn btn-high btn-success">Export user/cc list</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}



