amqp==5.2.0 ; python_version >= "3.9" and python_version < "4.0"
appnope==0.1.0 ; python_version >= "3.9" and python_version < "4.0"
asgiref==3.7.2 ; python_version >= "3.9" and python_version < "4.0"
atomicwrites==1.2.1 ; python_version >= "3.9" and python_version < "4.0"
billiard==4.2.0 ; python_version >= "3.9" and python_version < "4.0"
boto3==1.17.89 ; python_version >= "3.9" and python_version < "4.0"
botocore==1.20.89 ; python_version >= "3.9" and python_version < "4.0"
celery==5.3.6 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.9" and python_version < "4.0"
chardet==3.0.4 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
click-repl==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.3 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
decorator==4.2.1 ; python_version >= "3.9" and python_version < "4.0"
diff-match-patch==20121119 ; python_version >= "3.9" and python_version < "4.0"
dj-database-url==0.5.0 ; python_version >= "3.9" and python_version < "4.0"
django-admin-list-filter-dropdown==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
django-appconf==1.0.4 ; python_version >= "3.9" and python_version < "4.0"
django-audit-log-middleware==0.0.4 ; python_version >= "3.9" and python_version < "4.0"
django-autocomplete-light==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
django-axes==5.9.0 ; python_version >= "3.9" and python_version < "4.0"
django-chunk-upload-handlers==0.0.10 ; python_version >= "3.9" and python_version < "4.0"
django-environ==0.4.5 ; python_version >= "3.9" and python_version < "4.0"
django-extensions==3.2.3 ; python_version >= "3.9" and python_version < "4.0"
django-filter==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
django-guardian==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
django-import-export==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
django-ipware==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
django-log-formatter-ecs==0.0.3 ; python_version >= "3.9" and python_version < "4.0"
django-pivot==1.10.0 ; python_version >= "3.9" and python_version < "4.0"
django-redis==4.12.1 ; python_version >= "3.9" and python_version < "4.0"
django-reversion==5.0.12 ; python_version >= "3.9" and python_version < "4.0"
django-settings-export==1.2.1 ; python_version >= "3.9" and python_version < "4.0"
django-simple-history==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
django-staff-sso-client==4.2.2 ; python_version >= "3.9" and python_version < "4.0"
django-storages==1.11.1 ; python_version >= "3.9" and python_version < "4.0"
django-tables2==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
django-webpack-loader==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
django==4.2.11 ; python_version >= "3.9" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.9" and python_version < "4.0"
docutils==0.14 ; python_version >= "3.9" and python_version < "4.0"
elastic-apm==6.2.2 ; python_version >= "3.9" and python_version < "4"
et-xmlfile==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
flake8==3.8.4 ; python_version >= "3.9" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.9" and python_version < "4.0"
gevent==23.9.1 ; python_version >= "3.9" and python_version < "4.0"
greenlet==3.0.3 ; platform_python_implementation == "CPython" and python_version < "4.0" and python_version >= "3.9"
gunicorn==19.9.0 ; python_version >= "3.9" and python_version < "4.0"
idna==2.7 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==1.6.0 ; python_version >= "3.9" and python_version < "4.0"
jdcal==1.3 ; python_version >= "3.9" and python_version < "4.0"
jedi==0.11.1 ; python_version >= "3.9" and python_version < "4.0"
jmespath==0.9.3 ; python_version >= "3.9" and python_version < "4.0"
kombu==5.3.5 ; python_version >= "3.9" and python_version < "4.0"
kubi-ecs-logger==0.0.6 ; python_version >= "3.9" and python_version < "4"
libsass==0.23.0 ; python_version >= "3.9" and python_version < "4.0"
markuppy==1.14 ; python_version >= "3.9" and python_version < "4.0"
marshmallow==2.19.2 ; python_version >= "3.9" and python_version < "4.0"
mccabe==0.6.1 ; python_version >= "3.9" and python_version < "4.0"
mohawk==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
more-itertools==4.3.0 ; python_version >= "3.9" and python_version < "4.0"
oauthlib==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
odfpy==1.3.6 ; python_version >= "3.9" and python_version < "4.0"
openpyxl==3.0.5 ; python_version >= "3.9" and python_version < "4.0"
parso==0.1.1 ; python_version >= "3.9" and python_version < "4.0"
pexpect==4.4.0 ; python_version >= "3.9" and python_version < "4.0"
pickleshare==0.7.4 ; python_version >= "3.9" and python_version < "4.0"
pluggy==0.13.1 ; python_version >= "3.9" and python_version < "4.0"
prompt-toolkit==1.0.15 ; python_version >= "3.9" and python_version < "4.0"
psycogreen==1.0.2 ; python_version >= "3.9" and python_version < "4.0"
psycopg2==2.8.6 ; python_version >= "3.9" and python_version < "4.0"
ptyprocess==0.5.2 ; python_version >= "3.9" and python_version < "4.0"
public==1.0.3 ; python_version >= "3.9" and python_version < "4.0"
pycodestyle==2.6.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and platform_python_implementation == "CPython" and sys_platform == "win32" and python_version < "4.0"
pydot==1.2.4 ; python_version >= "3.9" and python_version < "4.0"
pyflakes==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.15.0 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==0.9.1 ; python_version >= "3.9" and python_version < "4.0"
pytz==2021.3 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
query-string==1.0.2 ; python_version >= "3.9" and python_version < "4.0"
raven==6.9.0 ; python_version >= "3.9" and python_version < "4.0"
redis==3.5.3 ; python_version >= "3.9" and python_version < "4.0"
requests-oauthlib==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
s3transfer==0.4.2 ; python_version >= "3.9" and python_version < "4.0"
sentry-sdk==1.25.1 ; python_version >= "3.9" and python_version < "4.0"
setuptools==69.2.0 ; python_version >= "3.9" and python_version < "4.0"
simplegeneric==0.8.1 ; python_version >= "3.9" and python_version < "4.0"
six==1.15.0 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
tablib[html,ods,xls,xlsx,yaml]==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
text-unidecode==1.3 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "4.0"
unicodecsv==0.14.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.18 ; python_version >= "3.9" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
wcwidth==0.1.7 ; python_version >= "3.9" and python_version < "4.0"
whitenoise==5.2.0 ; python_version >= "3.9" and python_version < "4"
xlrd==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.1.0 ; python_version >= "3.9" and python_version < "4.0"
zope-event==4.4 ; python_version >= "3.9" and python_version < "4.0"
zope-interface==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
