{% extends "standard_content.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Experimental download MI data" "downloaded_files" %}
{% endblock %}

{% block title %}Experimental download for MI reports{% endblock %}

{% block content %}
    <h3 class="govuk-heading-l">Experimental download for MI reports</h3>
    <p class="govuk-body">The download is a csv file. It takes a long time!</p>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url "data_lake_mi_report_forecast_data" %}">
            <button class="govuk-button" data-module="govuk-button">
                Download MI Forecast Data (csv)
            </button>
        </a>
    </p>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url "data_lake_mi_report_budget_data" %}">
            <button class="govuk-button" data-module="govuk-button">
                Download MI Budget Data (csv)
            </button>
        </a>
    </p>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url "data_lake_mi_report_previous_year_data" %}">
            <button class="govuk-button" data-module="govuk-button">
                Download Previous Year Data (csv)
            </button>
        </a>
    </p>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url "data_lake_mi_report_financial_period_in_use" %}">
            <button class="govuk-button" data-module="govuk-button">
                Download Period in use (csv)
            </button>
        </a>
    </p>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url "data_lake_mi_report_financial_period" %}">
            <button class="govuk-button" data-module="govuk-button">
                Download Financial Period list (csv)
            </button>
        </a>
    </p>

{% endblock %}
