{% extends "base_generic.html" %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Project Percentages" "project_percentage" %}
    {% breadcrumb "Upload percentages" "upload_percentage_file" %}
{% endblock %}

{% block title %}Upload Percentage File{% endblock %}

{% block content %}
    <div class="app-pane__content">
        <h1 class="govuk-heading-l">{{ section_name }}</h1>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {% include "core/govt_uk_form.html" %}
            <input type="submit" value="Add entry" class="govuk-button" data-module="govuk-button"/>
        </form>
    </div>
{% endblock %}

