{% extends "standard_content.html" %}

{% block title %}Home{% endblock %}
{% block content %}
    {% block top %}
        {{ block.super }}
    {% endblock %}
    <h1 class="govuk-heading-xl">Financial Forecasting Tool</h1>
    <p class="govuk-body">The Financial Forecasting Tool replaces the admin consolidation and analysis tool ("Admin Tool"),
        currently used for the financial management of resources and staff forecasts.
    </p>
    <p class="govuk-body">This is an in-house bespoke web application supporting business critical processes within
        the DBT.</p>
    <p class="govuk-body">The Financial Forecasting Tool supports three functions:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">Viewing the <a class="govuk-link" href="{% url 'chart_of_account_choose_year' %}">DBT chart of account</a></li>
        <li class="govuk-body">Registering gifts and hospitality</li>
        <li class="govuk-body">Managing financial forecasts: assists you in managing your financial resources</li>
    </ul>
    <p class="govuk-body">If you require access to this system, please email:
        <a href="mailto:financial.analysis@businessandtrade.gov.uk">financial.analysis@businessandtrade.gov.uk</a>    {# # /PS-IGNORE#}
    </p>
    <p class="govuk-body">If you have issues relating to the figures displayed or don’t understand what to do, please contact your
        Finance Business Partner and/or the Business Support Centre of Excellence (the chart of account cost centre hierarchy
        has a list of contacts per area).
    </p>
    {% block bottom %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
