{% extends "base_generic.html" %}
{% load breadcrumbs vite forecast_format waffle_tags %}

{% block title %}Edit payroll{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "payroll:choose_cost_centre" %}
    {% breadcrumb "Edit payroll" "" %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="flex-spread">
        <h1 class="govuk-heading-l">Edit payroll</h1>

        {# Here we assume that a user with access to payroll also has access to forecast #}
        {% switch 'payroll' %}
            <a class="govuk-link" href="{% url 'edit_forecast' cost_centre_code financial_year %}">Go to Forecast</a>
        {% endswitch %}
    </div>

    <div id="payroll-app"></div>
{% endblock content %}

{% block scripts %}
    <script>
        window.costCentreCode = "{{ cost_centre_code|escapejs }}";
        window.financialYear = new Number("{{ financial_year }}");
        window.addVacancyUrl = "{% url 'payroll:add_vacancy' cost_centre_code financial_year %}"
    </script>
    {% vite_dev_client %}
    {% vite_js 'src/index.jsx' %}
{% endblock scripts %}
