{% extends "base_generic.html" %}
{% load breadcrumbs vite %}

{% block title %}Edit payroll{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "payroll:choose_cost_centre" %}
    {% breadcrumb "Edit payroll" "" %}
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="govuk-heading-l">Edit payroll</h1>

    <div id="payroll-app"></div>

    <h2 class="govuk-heading-m">Payroll forecast</h2>
    <div class="scrollable-div">
      <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Programme code</th>
                  <th scope="col" class="govuk-table__header">Natural code</th>
                  <th scope="col" class="govuk-table__header">Pay type</th>
                  {% for month in months %}
                      <th scope="col" class="govuk-table__header">{{ month }}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              {% for row in payroll_forecast_report %}
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">{{ row.programme_code }}</th>
                      <th scope="row" class="govuk-table__header">{{ row.pay_element__type__group__natural_code }}</th>
                      <th scope="row" class="govuk-table__header">{{ row.pay_element__type__group__name }}</th>
                      <td class="govuk-table__cell">{{ row.period_1_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_2_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_3_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_4_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_5_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_6_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_7_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_8_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_9_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_10_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_11_sum }}</td>
                      <td class="govuk-table__cell">{{ row.period_12_sum }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script>
        window.costCentreCode = "{{ cost_centre_code|escapejs }}";
        window.financialYear = new Number("{{ financial_year }}");
        window.addVacancyUrl = "{% url 'payroll:add_vacancy' cost_centre_code financial_year %}"
    </script>
    {% vite_dev_client %}
    {% vite_js 'src/index.jsx' %}
{% endblock scripts %}
