{% extends "base_generic.html" %}
{% load breadcrumbs vite %}

{% block title %}Import payroll{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Import payroll" "payroll:import" %}
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="govuk-heading-l">Import payroll</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="hr_csv">HR CSV file:</label>
            <input type="file" name="hr_csv" id="hr_csv">
        </div>
        <div>
            <label for="hr_csv">Has header?:</label>
            <input type="checkbox" name="hr_csv_has_header" id="hr_csv_has_header" checked>
            <p id="file-upload-1-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> The CSV must be smaller than 2MB
              </p>
        </div>
        <div>
            <label for="payroll_csv">Payroll CSV file:</label>
            <input type="file" name="payroll_csv" id="payroll_csv">
        </div>
        <div>
            <label for="payroll_csv">Has header?:</label>
            <input type="checkbox" name="payroll_csv_has_header" id="payroll_csv_has_header" checked>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div>
        <br/><br/>
        {% if output %}
        Inserted records : {{output.created|length}} <br/>
        Updated records: {{output.updated|length}} <br/>
        Failing records: {{output.failed_records|length}} <br/>
        {% endif %}

        {{ error }}
        {% if output.failed_records %}
        <h3>Failing records </h3>
        <table  className="govuk-table finance-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Employee No</td>
                <td class="govuk-table__cell">Name</td>
                <td class="govuk-table__cell">Error</td>
              </tr>
            </thead>
            <tbody>
              {% for item in output.failed_records %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ item.employee_no }}</td>
                  <td class="govuk-table__cell">{{ item.first_name }} {{ item.last_name }}</td>
                  <td class="govuk-table__cell"> {% for error in  item.errors %}
                    {{error}}<br/>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}
