{% extends "base_generic.html" %}
{% load breadcrumbs vite util %}

{% block title %}Report{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Payroll data report" "payroll:report" %}
{% endblock breadcrumbs %}


{% block content %}
<a class="govuk-button" href="{% url 'payroll:download_report' %}">
  Download as CSV
</a>

<div class="scrollable">
    <table class="govuk-table finance-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for header in headers %}
                  <th class="govuk-table__cell">{{ header }}</th>
              {% endfor %}
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for row in rows %}
                <tr class="govuk-table__row">
                    {% for key in keys %}
                        <td class="govuk-table__cell">{{ row|get_item:key }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock %}