{% extends "base_generic.html" %}
{% load breadcrumbs %}

{% block title %}{{ title }}{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "payroll:choose_cost_centre" %}
    {% breadcrumb "Edit payroll" "payroll:edit" cost_centre_code financial_year %}
    {% breadcrumb title "" %}
{% endblock breadcrumbs %}

{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {% include "payroll/partials/_error_summary.html" with form=form %}

    <form method="post" novalidate>
      {% csrf_token %}
      <div class="govuk-form-group">
        {% include "payroll/partials/_form_field.html" with field=form.recruitment_type %}
        {% include "payroll/partials/_form_field.html" with field=form.grade %}
        {% include "payroll/partials/_form_field.html" with field=form.recruitment_stage %}
        {% include "payroll/partials/_form_field.html" with field=form.programme_code %}
        {% include "payroll/partials/_form_field.html" with field=form.appointee_name %}
        {% include "payroll/partials/_form_field.html" with field=form.hiring_manager %}
        {% include "payroll/partials/_form_field.html" with field=form.hr_ref %}
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" type="submit">{{ title }}</button>
        {% if is_edit %}
          <a class="govuk-button govuk-button--warning" href="{% url 'payroll:delete_vacancy' cost_centre_code financial_year vacancy_id %}">Delete Vacancy</a>
        {% endif %}
        <a class="govuk-link" href="{% url 'payroll:edit' cost_centre_code financial_year %}">Cancel</a>
      </div>
    </form>

{% endblock content %}
