<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFT - Something went wrong</title>
</head>
<body>
    <h1 class="govuk-heading-l">Something went wrong</h1>
    <p class="govuk-body"><a class="govuk-link" href="/">Return to the homepage</a></p>
    <p class="govuk-body">Contact <a class="govuk-link" href="mailto:financial.analysis@businessandtrade.gov.uk">financial.analysis@businessandtrade.gov.uk</a> if there's a technical problem.</p>
</body>
</html>





