{% extends "base_generic.html" %}
{% load breadcrumbs %}

{% block title %}Something went wrong{% endblock title %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds limit-text-width">
    <h1 class="govuk-heading-l">Something went wrong</h1>
    <p class="govuk-body">This may be because of a slow connection. Try again and refresh the page</p>
    <p class="govuk-body">Contact <a class="govuk-link" href="mailto:financial.analysis@businessandtrade.gov.uk">financial.analysis@businessandtrade.gov.uk</a> if there's a technical problem.</p>
  </div>
</div>
{% endblock %}