{% extends "base_generic.html" %}
{% load breadcrumbs %}

{% block title %}Staff debug{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Staff debug" "edit_payroll" %}
{% endblock breadcrumbs %}

{% block content %}

<h1 class="govuk-heading-l">Staff debug</h1>

<p>Cost centre: {{ cost_centre }}</p>
<p>Financial year: {{ financial_year }}</p>

<table>
    <thead>
        <tr>
            <th>Employee no.</th>
            <th>Name</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in staff_forecast %}
            <tr>
                <td>{{ obj.staff.employee_no }}</td>
                <td>{{ obj.staff.first_name }} {{ obj.staff.last_name }}</td>
                {% for enabled in obj.periods %}
                    <td>{{ enabled }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>New forecast</h2>

<table>
    <thead>
        <tr>
            <th>Pay type</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in new_payroll_forecast_report %}
            <tr>
                <td>{{ obj.payroll__pay_element__group__name }}</td>
                <td>{{ obj.period_1_sum }}</td>
                <td>{{ obj.period_2_sum }}</td>
                <td>{{ obj.period_3_sum }}</td>
                <td>{{ obj.period_4_sum }}</td>
                <td>{{ obj.period_5_sum }}</td>
                <td>{{ obj.period_6_sum }}</td>
                <td>{{ obj.period_7_sum }}</td>
                <td>{{ obj.period_8_sum }}</td>
                <td>{{ obj.period_9_sum }}</td>
                <td>{{ obj.period_10_sum }}</td>
                <td>{{ obj.period_11_sum }}</td>
                <td>{{ obj.period_12_sum }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Current forecast</h2>

<table>
    <thead>
        <tr>
            <th>NAC</th>
            <th>Prog</th>
            <th>Forecast type</th>
            <th>Project code</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in cur_payroll_forecast_report %}
            <tr>
                <td>{{ obj.financial_code.natural_account_code.pk }}</td>
                <td>{{ obj.financial_code.programme.pk }}</td>
                <td>{{ obj.financial_code.forecast_expenditure_type }}</td>
                <td>{{ obj.financial_code.project_code.pk }}</td>
                <td>{{ obj.apr }}</td>
                <td>{{ obj.may }}</td>
                <td>{{ obj.jun }}</td>
                <td>{{ obj.jul }}</td>
                <td>{{ obj.aug }}</td>
                <td>{{ obj.sep }}</td>
                <td>{{ obj.oct }}</td>
                <td>{{ obj.nov }}</td>
                <td>{{ obj.dec }}</td>
                <td>{{ obj.jan }}</td>
                <td>{{ obj.feb }}</td>
                <td>{{ obj.mar }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
